.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 4rem;
    background-image: linear-gradient(to right bottom, 
                                    rgba(255,255,255, 1) 0%,
                                    rgba(255,255,255, 1) 50%,
                                    rgba(200,200,200, 1) ) ;
    z-index: 1000;
    
    &__list {
        list-style: none;
        text-align: center;
        height: 4rem;

        &-item {
            display: inline-block;
            height: 100%;

            & a {
                display: inline-block;
                height: 100%;
                padding: .5rem;
                transition: all .3s;

                & svg {
                    height: 3rem;
                    width: auto;
                    fill: #444444;
                    transition: all .3s;
                }

                &:hover {
                    background-color:#444444;
                }

                &:hover svg {
                    fill: rgba(255,255,255, 0.9);
                }
            }
        }
    }
}