.project-container {
    display: block;
    position: relative;
    outline: 5px solid #ffffff;
    outline-offset: 10px;
    overflow: hidden;
    background-color: transparent;

    &:hover .project {
        // opacity: 0;
        transform: translateY(100%)
    }

    &:hover .project__description {
        z-index: 0;
    }
}

.project {    
    height: 100%;
    transition: all .6s;

    &--acoord {
        height: 30rem;
        background-image: url(../../static/img/acoord.png);
        background-size: cover;        
    }

    &--under-water {
        height: 30rem;
        background-image: url(../../static/img/under-water.png);
        background-size: cover;
    }

    &--hala-madrid {
        height: 30rem;
        background-image: url(../../static/img/hala-madrid.png);
        background-size: cover;
    }

    &--woman-life-freedom {
        height: 30rem;
        background-image: url(../../static/img/woman-life-freedom.png);
        background-size: cover;

    }

    &__description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
        color: #ffffff;

        &-title {
            font-size: 3rem;
            font-weight: 300;
        }
    }
}